@import '../../../style';

$modal: get-component('modal');
$footer: map-get($modal, footer);

.dls-modal-footer {
  background: get-color(map-get($footer, backgroundColor));
  padding: get-spacing(map-get($footer, verticalSpacing)) get-spacing(map-get($footer, horizontalSpacing));
  border-top: map-get($footer, borderTopWidth) solid get-color(map-get($footer, borderTopColor));
}
