@function get-color($colorName) {
  $brand-color: map-get($brandColors, $colorName);
  $base-color: map-get($baseColors, $colorName);
  @if($brand-color) {
    @return $brand-color;
  }
  @if($base-color) {
    @return $base-color;
  }

  @error "Color #{$colorName} is not defined in theme configuration."
}

@function get-transparent-background($propertyName) {
  $value: map-get($transparentBackground, $propertyName);
  @if($value) {
    @return $value;
  }

  @error "transparentBackground #{$propertyName} is not defined in theme configuration."
}

@function get-heading-typography($tag) {
  $typo: map-get($headings, $tag);
  @if($typo) {
    $headingDetails: map-get($typography, $typo);
    @return $headingDetails;
  }

  @error "headings #{$typo} is not defined in theme configuration."
}

@function get-spacing($spacingValue) {
  $spacing: map-get($spacing, $spacingValue);
  @if($spacing) {
    @return $spacing;
  }

  @error "Spacing #{$spacingValue} is not defined in theme configuration."
}

@function get-z-index($value) {
  $zIndex: map-get($zIndex, $value);
  @if($zIndex) {
    @return $zIndex;
  }

  @error "Z-index #{$zIndex} is not defined in theme configuration."
}

@function get-font-weight($value) {
  $fontWeight: map-get($fontWeight, $alue);
  @if($fontWeight) {
    @return $fontWeight;
  }

  @error "Font weight #{$fontWeight} is not defined in theme configuration."
}

@function get-font-detail($fontValue) {
  $fontValue: map-get($font, $fontValue);
  @if($fontValue) {
    @return $fontValue;
  }

  @error "#{$fontValue} is not defined in theme configuration."
}

@function get-component($componentName) {
  $component: map-get($components, $componentName);
  @if($component) {
    @return $component;
  }

  @error "#{$componentName} configuration is not defined in component configuration."
}
