@function get-break-point($viewport) {
  @return map-get($breakpoint, $viewport)
}

// xx-large
@mixin mq-xx-large {
  @if get-break-point('xx-large') {
    @media (min-width: #{get-break-point('xx-large')}) {
      @content;
    }
  } @else {
    @error "breakpoint for xx-large should be defined in SASS configuration under breakpoint"
  }
}

@mixin mq-xx-large-down {
  @if get-break-point('xx-large') {
    @media (max-width: #{get-break-point('xx-large')}) {
      @content;
    }
  } @else {
    @error "breakpoint for xx-large should be defined in SASS configuration under breakpoint"
  }
}

// x-large
@mixin mq-x-large-up {
  @if get-break-point('x-large') {
    @media (min-width: #{get-break-point('x-large')}) {
      @content;
    }
  } @else {
    @error "breakpoint for x-large should be defined in SASS configuration under breakpoint"
  }
}


@mixin mq-x-large-only {
  @if(get-break-point('xx-large')) {
    @media (min-width: #{get-break-point('x-large')}) and (max-width: #{get-break-point('xx-large') - 1}) {
      @content;
    }
  } @else {
    @include mq-x-large-up {
      @content;
    }
  }
}

@mixin mq-x-large-down {
  @if get-break-point('x-large') {
    @media (max-width: #{get-break-point('x-large')}) {
      @content;
    }
  } @else {
    @error "breakpoint for x-large should be defined in SASS configuration under breakpoint"
  }
}

// large
@mixin mq-large-up {
  @media (min-width: #{get-break-point('large')}) {
    @content;
  }
}

@mixin mq-large-only {
  @if get-break-point('x-large') {
    @media (min-width: #{get-break-point('large')}) and (max-width: #{get-break-point('x-large') - 1}) {
      @content;
    }
  } @else {
    @include mq-large-up {
      @content;
    }
  }
}

@mixin mq-large-down {
  @media (max-width: #{get-break-point('large') - 1}) {
    @content;
  }
}

//Medium
@mixin mq-medium-up {
  @media (min-width: #{get-break-point('medium')}) {
    @content;
  }
}

@mixin mq-medium-only {
  @media (min-width: #{get-break-point('medium')}) and (max-width: #{get-break-point('large') - 1}) {
    @content;
  }
}

@mixin mq-medium-down {
  @media (max-width: #{get-break-point('medium') - 1}) {
    @content;
  }
}

//small
@mixin mq-small-up {
  @media (min-width: #{get-break-point('small')}) {
    @content;
  }
}

@mixin mq-small-only {
  @media (min-width: #{get-break-point('small')}) and (max-width: #{get-break-point('medium') - 1}) {
    @content;
  }
}

@mixin mq-small-down {
  @media (max-width: #{get-break-point('small') - 1}) {
    @content;
  }
}

@mixin mq-default-only {
  @media (max-width: #{get-break-point('small') - 1}) {
    @content;
  }
}
