@mixin font-weight($weight: regular) {
  @if not map-has-key($fontWeight, $weight) {
    @error "Invalid font weight specified! Choose one of #{map-keys($fontWeight)}";
  }
  font-weight: map-get($fontWeight, $weight);
}

@mixin typography($scale: m, $weight: regular) {
  @if not map-has-key($typography, $scale) {
    @error "Invalid typography specified! Choose one of #{map-keys($typography)}";
  }
  $typographyDetails: map-get($typography, $scale);
  font-size: map-get($typographyDetails, fontSize);
  letter-spacing: map-get($typographyDetails, letterSpacing);
  line-height: map-get($typographyDetails, lineHeight);
  @include font-weight($weight)
}

@mixin headings($headings) {
  @for $i from 0 to length($headings) {
    $item: nth($headings, $i+1);
    $headingTag: nth($item, 1);
    $headingTypography: nth($item, 2);
    #{$headingTag} {
      @include typography($headingTypography);
    }
  }
}

@mixin z-index($index: medium) {
  @if not map-has-key($zIndex, $index) {
    @error "Invalid z-index specified! Choose one of #{map-keys($zIndex)}";
  }
  z-index: map-get($zIndex, $index);
}

@mixin animation($args...) {
  -webkit-animation: $args;
  -moz-animation: $args;
  -o-animation: $args;
  animation: $args;
}

@mixin input-placeholder {
  &::placeholder {
    @content;
  }
  &:-moz-placeholder {
    @content;
  }
  &::-moz-placeholder {
    @content;
  }
  &:-ms-input-placeholder {
    @content;
  }
  &::-webkit-input-placeholder {
    @content;
  }
}

@mixin truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -o-transition: $args;
  transition: $args;
}

@mixin transform($args...) {
  -webkit-transform: $args;
  -moz-transform: $args;
  -o-transform: $args;
  transform: $args;
}
