@import '../../style';

$grid: get-component('grid');
$gridGutterSpace: map-get($grid, gutterSpace);


@mixin grid-col($viewport, $i) {
  &--#{$viewport}-#{$i} {
    flex: 0 0 percentage($i / 12);
    max-width: percentage($i / 12);
  }
}

@mixin grid-offset($viewport, $i) {
  &--offset-#{$viewport}-#{$i} {
    margin-left: percentage($i / 12);
  }
}

@mixin grid-model($viewport) {
  @for $i from 0 to 12 {
    @include grid-col($viewport, $i+1);
    @include grid-offset($viewport, $i+1);
  }
}

@mixin grid-classes($breakpoint) {
  @for $i from 0 to length($breakpoint) {
    $item: nth($breakpoint, $i+1);
    $viewport: nth($item, 1);
    @if($viewport == 'default') {
      @include grid-model('xs');
    }
    @if($viewport == 'small') {
      @include mq-small-up {
        @include grid-model('sm');
      }
    }
    @if($viewport == 'medium') {
      @include mq-medium-up {
        @include grid-model('md');
      }
    }
    @if($viewport == 'large') {
      @include mq-large-up {
        @include grid-model('lg');
      }
    }
    @if($viewport == 'x-large') {
      @include mq-large-up {
        @include grid-model('x-lg');
      }
    }
    @if($viewport == 'xx-large') {
      @include mq-large-up {
        @include grid-model('xx-lg');
      }
    }
  }
}

.dls-grid-column {
  padding-left: get-spacing($gridGutterSpace);
  @include grid-classes($breakpoint);
}

