@import '../../style';

$grid: get-component('grid');
$gridGutterSpace: map-get($grid, gutterSpace);

.dls-grid-row {
  display: flex;
  flex-wrap: wrap;
  margin-left: - get-spacing($gridGutterSpace);
}
