@import '../../../style';

$tooltip: get-component('tooltip');
$common: map-get($tooltip, 'common');
$category: map-get($tooltip, 'category');

$closeButton: map-get($tooltip, closeButton);

@mixin content-categories($categories) {
  @for $i from 0 to length($categories) {
    $item: nth($categories, $i+1);
    $categoryName: nth($item, 1);
    $categoryProps: nth($item, 2);
    &--#{$categoryName} {
      background-color: get-color(map-get($categoryProps, backgroundColor));
      overflow: hidden;
      border-width: map-get($categoryProps, borderWidth);
      border-style: solid;
      border-color: get-color(map-get($categoryProps, borderColor));
      padding: get-spacing(map-get($categoryProps, verticalSpacing)) get-spacing(map-get($categoryProps, horizontalSpacing));
      @include typography(map-get($categoryProps, typography), map-get($categoryProps, fontWeight));
      color: get-color(map-get($categoryProps, textColor));
    }
  }
}

@mixin close-categories($categories) {
  @for $i from 0 to length($categories) {
    $item: nth($categories, $i+1);
    $categoryName: nth($item, 1);
    $categoryProps: nth($item, 2);
    &--#{$categoryName} {
      fill: get-color(map-get($categoryProps, closeColor));
    }
  }
}

.dls-tooltip-content {
  position: relative;
  display: flex;
  border-radius: map-get($common, borderRadius);
  @include content-categories($category);

  &__content {
    flex: 1;
  }

  &__close {
    flex-shrink: 0;
    height: map-get($closeButton, height);
    width: map-get($closeButton, width);
    @include close-categories($category);
  }
}
