@import '../../style';

$tabs: get-component('tabs');
$common: map-get($tabs, 'common');
$hover: map-get($tabs, 'hover');
$active: map-get($tabs, 'active');

@mixin dls-tab-selection($length) {
  @for $i from 0 to $length {
    $number: $i + 1;
    &--selected:nth-last-child(#{$number}) ~ &:last-child {
      &:before {
        left: -#{percentage($i)};
      }
    }
  }
}

.dls-tab-button {
  padding: get-spacing(map-get($common, verticalSpacing)) get-spacing(map-get($common, horizontalSpacing));
  border: none;
  outline: none;
  text-decoration: none;
  text-align: center;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: map-get($common, bottomBorderWidth) solid get-color(map-get($common, bottomBorderColor));
  @include typography(map-get($common, typography), map-get($common, fontWeight));
  background: get-color(map-get($common, backgroundColor));
  color: get-color(map-get($common, textColor));

  &:hover {
    background: get-color(map-get($hover, backgroundColor));
    color: get-color(map-get($hover, textColor));
  }

  &--selected {
    background: get-color(map-get($active, backgroundColor));
    color: get-color(map-get($active, textColor));
    @include font-weight(map-get($active, fontWeight));
    cursor: default;
    pointer-events: none;
  }

  &--fluid {
    flex: 1;
  }

  &:last-child {
    position: relative;
    overflow: visible;

    &:before {
      content: '';
      position: absolute;
      bottom: -1px;
      left: 0;
      width: 100%;
      height: map-get($active, bottomBorderWidth);
      background: get-color(map-get($active, bottomBorderColor));
      transition: left ease 0.3s;
    }
  }

  @include dls-tab-selection(map-get($common, maxNoOfTabs));
}
