@import '../../style';

@keyframes spinner-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

$spinner: get-component('spinner');
$common: map-get($spinner, common);
$category: map-get($spinner, category);
$size: map-get($spinner, size);

@mixin spinner-categories($categories) {
  @for $i from 0 to length($categories) {
    $item: nth($categories, $i+1);
    $categoryName: nth($item, 1);
    $categoryProps: nth($item, 2);
    &--#{$categoryName} {
      border-color: get-color(map-get($categoryProps, backgroundColor));
      border-top-color: get-color(map-get($categoryProps, foregroundColor));
    }
  }
}

@mixin spinner-sizes($sizes) {
  @for $i from 0 to length($sizes) {
    $item: nth($sizes, $i+1);
    $sizeName: nth($item, 1);
    $sizeProps: nth($item, 2);

    &--#{$sizeName} {
      height: map-get($sizeProps, height);
      width: map-get($sizeProps, width);
    }
  }
}

.dls-spinner {
  display: inline-block;
  border-radius: 50%;
  border-width: map-get($common, borderWidth);
  border-style: solid;
  animation: spinner-loading 0.7s infinite linear;

  &--center {
    display: block;
    margin: 0 auto;
  }

  @include spinner-categories($category);
  @include spinner-sizes($size);
}
