@import '../../style';

$button: get-component('button');

$common: map-get($button, 'common');
$category: map-get($button, 'category');
$size: map-get($button, 'size');

@mixin button-categories($categories) {
  @for $i from 0 to length($categories) {
    $item: nth($categories, $i+1);
    $categoryName: nth($item, 1);
    $categoryProps: nth($item, 2);
    &--#{$categoryName} {
      $basicProps: map-get($categoryProps, basic);
      $hoverProps: map-get($categoryProps, hover);
      background: get-color(map-get($basicProps, backgroundColor));
      color: get-color(map-get($basicProps, textColor));
      box-shadow: 0 0 0 map-get($basicProps, borderWidth) get-color(map-get($basicProps, borderColor));
      &:hover, &:focus {
        background: get-color(map-get($hoverProps, backgroundColor));
        color: get-color(map-get($hoverProps, textColor));
        box-shadow: 0 0 0  map-get($hoverProps, borderWidth) get-color(map-get($hoverProps, borderColor)), 0 2px 10px 0 get-color(map-get($common, shadowColorOnHover));
      }
    }
  }
}

@mixin button-sizes($sizes) {
  @for $i from 0 to length($sizes) {
    $item: nth($sizes, $i+1);
    $sizeName: nth($item, 1);
    $sizeProps: nth($item, 2);

    &--#{$sizeName} {
      @include typography(map-get($sizeProps, typography), map-get($sizeProps, fontWeight));
      height: map-get($sizeProps, height);
      padding: 0 get-spacing(map-get($sizeProps, horizontalSpacing));
    }
  }
}

@mixin button-loading($categories) {
  @for $i from 0 to length($categories) {
    $item: nth($categories, $i+1);
    $categoryName: nth($item, 1);
    $categoryProps: nth($item, 2);
    &--#{$categoryName} {
      $loaderProps: map-get($categoryProps, loader);
      border-color: get-color(map-get($loaderProps, backgroundColor));
      border-top-color: get-color(map-get($loaderProps, foregroundColor));
    }
  }
}

@mixin button-loading-size($sizes) {
  @for $i from 0 to length($sizes) {
    $item: nth($sizes, $i+1);
    $sizeName: nth($item, 1);
    $sizeProps: nth($item, 2);

    &--#{$sizeName} {
      height: map-get($sizeProps, loaderHeight);
      width: map-get($sizeProps, loaderWidth);
    }
  }
}

@mixin button-loading-wrapper($categories) {
  @for $i from 0 to length($categories) {
    $item: nth($categories, $i+1);
    $categoryName: nth($item, 1);
    $categoryProps: nth($item, 2);
    &--#{$categoryName} {
      $basicProps: map-get($categoryProps, basic);
      $hoverProps: map-get($categoryProps, hover);
      background: get-color(map-get($basicProps, backgroundColor));
    }
  }
}

.dls-button {
  background: none;
  border: none;
  text-decoration: none;
  user-select: none;
  cursor: pointer;
  position: relative;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  border-radius: map-get($common, borderRadius);

  &:disabled, &--disabled {
    opacity: map-get($common, disabledOpacity);
  }

  &:disabled, &--disabled, &--loading {
    pointer-events: none;
  }

  &--fluid {
    width: 100%;
  }

  &__loader-wrapper {
    &--with-no-label {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &--with-label {
      display: inline-block;
      margin-right: 8px;
    }

    @include button-loading-wrapper($category);
  }

  &__loader {
    @include button-loading($category);
    @include button-loading-size($size);
  }

  @include button-categories($category);
  @include button-sizes($size);
}
