@import '../../style';

$tabs: get-component('tabs');
$tabContent: map-get($tabs, content);

.dls-tabs {
  &__content {
    padding: get-spacing(map-get($tabContent, verticalSpacing)) get-spacing(map-get($tabContent, horizontalSpacing));
  }
}

