@import '../../../style';

$modal: get-component('modal');
$header: map-get($modal, header);
$close: map-get($modal, closeButton);
$closeHover: map-get($modal, closeHover);

.dls-modal-header {
  background: get-color(map-get($header, backgroundColor));
  padding: get-spacing(map-get($header, verticalSpacing)) get-spacing(map-get($header, horizontalSpacing));
  border-bottom: map-get($header, borderBottomWidth) solid get-color(map-get($header, borderBottomColor));
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__content {
    flex: 1;
    @include truncate;
    @include typography(map-get($header, typography), map-get($header, fontWeight));
    color: get-color(map-get($header, textColor));
  }

  &__close-button {
    height: map-get($close, height);
    width: map-get($close, width);
    fill: get-color(map-get($close, color));
    cursor: pointer;
    &:hover {
      background-color: get-color(map-get($closeHover, backgroundColor));
      fill: get-color(map-get($closeHover, color));
    }
  }
}
