@import '../../../style';

$table: get-component('table');
$common: map-get($table, 'common');
$bodyCell: map-get($table, 'bodyCell');

.dls-body-cell {
  padding: get-spacing(map-get($bodyCell, verticalSpacing)) get-spacing(map-get($bodyCell, horizontalSpacing));
  border-bottom: map-get($common, horizontalBorderWidth) solid get-color(map-get($common, horizontalBorderColor));
  border-right: map-get($common, verticalBorderWidth) solid get-color(map-get($common, verticalBorderColor));
}
