@import '../../style';

$table: get-component('table');
$common: map-get($table, 'common');
$header: map-get($table, 'header');
$body: map-get($table, 'body');

.dls-table {
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
  border-top: map-get($common, horizontalBorderWidth) solid get-color(map-get($common, horizontalBorderColor));
  border-left: map-get($common, verticalBorderWidth) solid get-color(map-get($common, verticalBorderColor));

  &__header {
    background: get-color(map-get($header, backgroundColor));
    color: get-color(map-get($header, textColor));
  }

  &__body {
    background: get-color(map-get($body, backgroundColor));
    @include typography(map-get($body, typography), map-get($body, fontWeight));
    color: get-color(map-get($body, textColor));
  }
}
