@import '../../../style';

$treeView: get-component('treeView');
$menuItem: map-get($treeView, 'menuItem');
$icon: map-get($treeView, 'icon');
$menuItemHover: map-get($treeView, 'menuItemHover');

.dls-menu-item {
  &__button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    outline: none;
    text-align: left;
    overflow: hidden;
    width: 100%;
  }

  &__icon {
    height: map-get($icon, height);
    width: map-get($icon, width);
    fill: get-color(map-get($icon, color));
    &--link-icon {
      fill: get-color(map-get($icon, disabledColor));
    }
  }

  &__label {
    margin-left: 4px;
    padding: 4px 0 4px 2px;
    flex: 1;
    white-space: nowrap;
    color: get-color(map-get($menuItem, textColor));
  }

  &__sub-menu {
    margin-left: 16px;
    padding-left: 8px;
    border-left: map-get($menuItem, borderLeftWidth) dashed get-color(map-get($menuItem, borderLeftColor));
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: all linear 0.3s;

    &--expanded {
      margin-left: 8px;
      opacity: 1;
      max-height: 500px;
      overflow: visible;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: get-color(map-get($menuItem, textColor));
  }

  &__button:hover &__label, &__link:hover &__label {
    background: get-color(map-get($menuItemHover, backgroundColor));
    color: get-color(map-get($menuItemHover, textColor));
  }
}
