@import '../../style';

$component: get-component('checkBox');

.dls-check-box {
  $commonState: map-get($component, 'common');
  $defaultState: map-get($component, 'default');
  $hoverState: map-get($component, 'hover');
  $selectedState: map-get($component, 'selected');
  $disabledState: map-get($component, 'disabled');
  $label: map-get($component, 'label');
  $leftSpacing: map-get($label, leftSpacing);
  $width: 20px;
  $height: 20px;
  position: relative;
  &__label {
    $typography: map-get($label, typography);
    $textColor: map-get($label, textColor);
    $fontWeight: map-get($label, fontWeight);
    @include typography($typography, $fontWeight);
    color: get-color($textColor);
    position: relative;
    padding-left: $width + get-spacing($leftSpacing);
    cursor: pointer;
    &:before {
      $borderColor: map-get($defaultState, borderColor);
      $backgroundColor: map-get($defaultState, backgroundColor);
      position: absolute;
      top: 50%;
      left: 0;
      content: '';
      background: get-color($backgroundColor);
      width: $width ;
      height: $height;
      border: map-get($defaultState, borderWidth) solid get-color($borderColor);
      border-radius: map-get($commonState, borderRadius);
      transform: translate(0, -50%);
    }
    &:after {
      $tickColor: map-get($selectedState, tickColor);
      $tickWidth: $width - 4px;
      position: absolute;
      top: 50%;
      left: 2px;
      content: '';
      width: $width - 4px;
      height: $tickWidth / 2;
      border-width: 2px;
      border-style: solid;
      transform: translate(0, -50%) rotate(130deg);
      border-color: get-color($tickColor)  get-color($tickColor) transparent transparent;
      margin-top: -2px;
      border-radius: 2px;
      display: none;
    }
  }

  &__input {
    height: $height - 2px;
    width: $width - 2px;
    position: absolute;
    top: 1px;
    left: 1px;
  }

  &__input:not(:disabled):hover + &__label, &__input:not(:disabled):focus + &__label {
    $borderColor: map-get($hoverState, borderColor);
    $borderWidth: map-get($hoverState, borderWidth);
    $backgroundColor: map-get($hoverState, backgroundColor);
    &:before {
      border-color: get-color($borderColor);
      border-width: $borderWidth;
      background: get-color($backgroundColor);
    }
  }

  &__input:checked + &__label {
    $borderColor: map-get($selectedState, borderColor);
    $borderWidth: map-get($selectedState, borderWidth);
    $backgroundColor: map-get($selectedState, backgroundColor);
    &:before {
      border-color: get-color($borderColor);
      border-width: $borderWidth;
      background: get-color($backgroundColor);
    }
    &:after {
      display: block;
    }
  }

  &__input:disabled + label, &__input:checked:disabled + label {
    $borderColor: map-get($disabledState, borderColor);
    $backgroundColor: map-get($disabledState, backgroundColor);
    $tickColor: map-get($disabledState, tickColor);
    cursor: default;
    pointer-events: none;
    &:before {
      border-color: get-color($borderColor);
      background: get-color($backgroundColor);
    }
    &:after {
      border-color: get-color($tickColor)  get-color($tickColor) transparent transparent;
    }
  }
}
