@import '../../../style';

$dropDown: get-component('dropDown');

$common: map-get($dropDown, common);
$default: map-get($dropDown, default);
$placeholder: map-get($dropDown, placeholder);
$arrow: map-get($dropDown, arrow);

.asda-drop-down-select {
  &__value {
    flex: 1;
    @include typography(map-get($default, typography), map-get($default, fontWeight));
    @include truncate;
    color: get-color(map-get($default, textColor));
    &--placeHolder {
      @include typography(map-get($placeholder, typography), map-get($placeholder, fontWeight));
      color: get-color(map-get($placeholder, textColor));
    }
  }

  &__arrow {
    width: 0;
    height: 0;
    border-width: 6px;
    border-style: solid;
    border-color: transparent;
    border-top-color: get-color(map-get($arrow, color));
    margin-top: 6px;
    &--outline {
      width: 12px;
      height: 12px;
      transform: rotate(45deg);
      border-width: 1px;
      border-style: solid;
      border-color: transparent get-color(map-get($arrow, color)) get-color(map-get($arrow, color)) transparent;
      margin-top: -6px;
    }
  }
}
