@import '../../style';

$treeView: get-component('treeView');
$container: map-get($treeView, 'container');

.dls-tree-view {
  background-color: get-color(map-get($container, backgroundColor));
  border: map-get($container, borderWidth) solid get-color(map-get($container, borderColor));
  border-radius: map-get($container, borderRadius);
  padding: get-spacing(map-get($container, verticalSpacing)) get-spacing(map-get($container, horizontalSpacing));
  overflow: visible;
}
