@import '../../style';

$component: get-component('toggleButton');

.dls-toggle-button {
  $common: map-get($component, 'common');
  $track: map-get($component, 'track');
  $bubble: map-get($component, 'bubble');
  display: flex;
  align-items: center;

  &__switch {
    width: map-get($track, 'width');
    height: map-get($track, 'height');
    position: relative;
    border-radius: map-get($track, 'borderRadius');
    overflow: hidden;
  }

  &__check-box {
    position: absolute;
    width: 100%;
    height: 100%;

    &[ disabled ] {
      visibility: hidden;
    }
  }

  &__slider {
    $trackBg: map-get($track, 'backgroundColor');
    position: absolute;
    width: 100%;
    height: 100%;
    background: get-color($trackBg);
    border-radius: map-get($track, 'borderRadius');
    cursor: pointer;

    &:before {
      $bubbleBg: map-get($bubble, 'backgroundColor');
      $bubbleHeight: map-get($bubble, 'height');
      $bubbleWidth: map-get($bubble, 'width');
      position: absolute;
      content: "";
      height: $bubbleHeight;
      width: $bubbleWidth;
      top: 50%;
      left: 4px;
      background: get-color($bubbleBg);
      transition: left ease 0.3s;
      border-radius: map-get($bubble, 'borderRadius');
      transform: translate(0, -50%);
    }

    &--active {
      $bubbleWidth: map-get($bubble, 'width');
      $trackActiveBg: map-get($track, 'activeBackgroundColor');
      $bubbleActiveBg: map-get($bubble, 'activeBackgroundColor');
      background: get-color($trackActiveBg);
      &:before {
        left: calc(100% - #{$bubbleWidth} - 4px);
        background: get-color($bubbleActiveBg);
      }
    }

    &--disabled {
      opacity: map-get($common, 'disabledOpacity');
      cursor: not-allowed;
    }
  }

  &__label {
    $label: map-get($component, 'label');
    $typography: map-get($label, 'typography');
    $textColor: map-get($label, 'textColor');
    $labelLeftSpacing: map-get($label, 'leftSpacing');
    @include typography($typography);
    margin-left: get-spacing($labelLeftSpacing);
    color: get-color($textColor);
  }
}
