@import '../../style';

$component: get-component('radioButton');

.dls-radio-button {
  $defaultState: map-get($component, 'default');
  $hoverState: map-get($component, 'hover');
  $selectedState: map-get($component, 'selected');
  $disabledState: map-get($component, 'disabled');
  $label: map-get($component, 'label');
  $leftSpacing: map-get($label, leftSpacing);
  $width: 20px;
  $height: 20px;
  position: relative;
  &__label {
    $typography: map-get($label, typography);
    $textColor: map-get($label, textColor);
    @include typography($typography);
    position: relative;
    padding-left: $width + get-spacing($leftSpacing);
    cursor: pointer;

    &:before {
      $borderColor: map-get($defaultState, borderColor);
      $backgroundColor: map-get($defaultState, backgroundColor);
      position: absolute;
      top: 50%;
      left: 0;
      content: '';
      background: get-color($backgroundColor);
      width: $width;
      height: $height;
      border: map-get($defaultState, borderWidth) solid get-color($borderColor);
      border-radius: 50%;
      transform: translate(0, -50%);
    }
    &:after {
      $fillColor: map-get($selectedState, fillColor);
      position: absolute;
      top: 50%;
      left: $width / 2;
      content: '';
      width: 0;
      height: 0;
      background: get-color($fillColor);
      border-radius: 50%;
      transition: all linear 0.3s;
      transform: translate(0, -50%);
    }
  }
  &__input {
    height: $height;
    width: $width;
    position: absolute;
    left: 0;
    top: 0;
  }

  &__input:not(:disabled):hover + &__label, &__input:not(:disabled):focus + &__label {
    &:before {
      $borderColor: map-get($hoverState, borderColor);
      $backgroundColor: map-get($hoverState, backgroundColor);
      border-width: map-get($hoverState, borderWidth);
      border-color: get-color($borderColor);
      background: get-color($backgroundColor);
    }
  }

  &__input:checked + &__label {
    &:before {
      $borderColor: map-get($hoverState, borderColor);
      $backgroundColor: map-get($selectedState, backgroundColor);
      border-width: map-get($selectedState, borderWidth);
      border-color: get-color($borderColor);
      background: get-color($backgroundColor);
    }
    &:after {
      left: $width / 4;
      width: $width / 2;
      height: $width / 2;
    }
  }

  &__input:disabled + label, &__input:checked:disabled + label {
    $borderColor: map-get($disabledState, borderColor);
    $backgroundColor: map-get($disabledState, backgroundColor);
    $fillColor: map-get($disabledState, fillColor);
    cursor: default;
    pointer-events: none;
    &:before {
      border-color: get-color($borderColor);
      background: get-color($backgroundColor);
    }
    &:after {
      background: get-color($fillColor);
    }
  }
}
