@import '../../style';

$container: get-component('container');

.dls-container {
  min-width: map-get($container, minWidth);
  width: map-get($container, width);
  max-width: map-get($container, maxWidth);
  margin: 0 auto;
}
