@import '../../style';

$inputField: get-component('inputField');

$common: map-get($inputField, common);
$label: map-get($inputField, label);
$default: map-get($inputField, default);
$placeholder: map-get($inputField, placeholder);
$hover: map-get($inputField, hover);
$focus: map-get($inputField, focus);
$valid: map-get($inputField, valid);
$invalid: map-get($inputField, invalid);

.dls-input-field {
  &__label {
    display: block;
    @include typography(map-get($label, typography), map-get($label, fontWeight));
    color: get-color(map-get($label, textColor));
    margin-bottom: get-spacing(map-get($label, bottomSpacing));
    &--required::after {
      content: '*';
      color: get-color(map-get($label, requiredStarColor));
    }
  }

  &__input {
    width: 100%;
    height: map-get($common, "height");
    @include typography(map-get($default, typography), map-get($default, fontWeight));
    padding: get-spacing(map-get($common, verticalSpacing)) get-spacing(map-get($common, horizontalSpacing));
    border-radius: map-get($common, borderRadius);
    border: map-get($default, borderWidth) solid get-color(map-get($default, borderColor));
    color: get-color(map-get($default, textColor));

    &::placeholder {
      @include typography(map-get($placeholder, typography), map-get($placeholder, fontWeight));
      color: get-color(map-get($placeholder, textColor));
    }

    &:hover {
      border: map-get($hover, borderWidth) solid get-color(map-get($hover, borderColor));
      color: get-color(map-get($hover, textColor));
      box-shadow: 0 0 10px 0 get-color(map-get($common, shadowColorOnHover));
    }

    &:focus {
      border: map-get($focus, borderWidth) solid get-color(map-get($focus, borderColor));
      color: get-color(map-get($focus, textColor));
      box-shadow: 0 0 10px 0 get-color(map-get($common, shadowColorOnHover));
    }

    &:disabled {
      pointer-events: none;
      opacity: map-get($common, disabledOpacity);
    }

    &--valid {
      border: map-get($valid, borderWidth) solid get-color(map-get($valid, borderColor));
      color: get-color(map-get($valid, textColor));
    }

    &--invalid {
      border: map-get($invalid, borderWidth) solid get-color(map-get($invalid, borderColor));
      color: get-color(map-get($invalid, textColor));
    }
  }
}
