@import '../../style';

$alert: get-component('alert');

.dls-alert {
  $bgColor: map-get($alert, backgroundColor);
  background: get-color($bgColor);
  padding: get-spacing(map-get($alert, verticalSpacing)) get-spacing(map-get($alert, horizontalSpacing));
  border-width: map-get($alert, borderWidth);
  border-style: solid;
  border-color: get-color(map-get($alert, borderColor));
  display: flex;

  &__content {
    flex: 1;
  }

  &__close-button {
    $close: map-get($alert, closeButton);
    height: map-get($close, height);
    width: map-get($close, width);
    fill: get-color(map-get($close, color));
  }
}
