@import '../../style';

$collapsible: get-component('collapsible');
$common: map-get($collapsible, common);
$header: map-get($collapsible, header);
$headerTitle: map-get($collapsible, headerTitle);
$container: map-get($collapsible, container);

.dls-collapsible {
  border-width: map-get($common, borderWidth);
  border-style: solid;
  border-color: get-color(map-get($common, borderColor));
  border-radius: map-get($common, borderRadius);
  overflow: hidden;

  &:hover {
    box-shadow: 0 0 10px 0 get-color(map-get($common, shadowColorOnHover));
  }

  &__header {
    background: get-color(map-get($header, backgroundColor));
    padding: 0 get-spacing(map-get($header, horizontalSpacing));
    height: map-get($header, height);
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__title {
    @include typography(map-get($headerTitle, typography), map-get($headerTitle, fontWeight));
    color: get-color(map-get($headerTitle, textColor));
  }

  &__container {
    border-top: map-get($common, borderWidth) solid get-color(map-get($common, borderColor));
    background: get-color(map-get($container, backgroundColor));
    padding: get-spacing(map-get($container, verticalSpacing)) get-spacing(map-get($container, horizontalSpacing));
    border-radius: 0 0 map-get($common, borderRadius) map-get($common, borderRadius);
  }
}
