@import '../../style';

$modal: get-component('modal');
$overlay: map-get($modal, overlay);

.dls-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  background: get-transparent-background(map-get($overlay, transparentBackground));
  &__container {
    background: get-color(white);
    position: relative;
    display: flex;
    flex-direction: column;
    max-height: 90%;
    max-width: 90%;
  }
}
