@import '../../style';

$anchor: get-component('anchor');
$categories: map-get($anchor, category);
$standAlone: map-get($anchor, standAlone);

@mixin anchor-categories($categories) {
  @for $i from 0 to length($categories) {
    $item: nth($categories, $i+1);
    $categoryName: nth($item, 1);
    $categoryProps: nth($item, 2);
    &--#{$categoryName} {
      $default: map-get($categoryProps, default);
      $hover: map-get($categoryProps, hover);
      $disabled: map-get($categoryProps, disabled);
      @include typography(map-get($default, typography), map-get($default, fontWeight));
      text-decoration: map-get($default, textDecoration);
      color: get-color(map-get($default, color));
      &:hover {
        text-decoration: map-get($hover, textDecoration);
        color: get-color(map-get($hover, color));
      }

      &-disabled {
        color: get-color(map-get($disabled, color));
        pointer-events: none;
      }
    }
  }
}

.dls-anchor {
  @include anchor-categories($categories);
  &--button {
    background: none;
    border: none;
    padding: 0;
  }

  &--standalone {
    display: inline-block;
    padding: get-spacing(map-get($standAlone, verticalSpacing)) get-spacing(map-get($standAlone, horizontalSpacing));
  }

  &--align-left {
    padding-left: 0;
  }

  &--align-right {
    padding-right: 0;
  }
}
