@import '../../style';

$badge: get-component('badge');
$common: map-get($badge, common);
$categories: map-get($badge, category);

@mixin badge-categories($categories) {
  @for $i from 0 to length($categories) {
    $item: nth($categories, $i+1);
    $categoryName: nth($item, 1);
    $categoryProps: nth($item, 2);
    &--#{$categoryName} {
      $backgroundColor: map-get($categoryProps, backgroundColor);
      $textColor: map-get($categoryProps, textColor);
      background: get-color($backgroundColor);
      color: get-color($textColor);
    }
  }
}

.dls-badge {
  display: inline-block;
  min-height: map-get($common, minHeight);
  min-width: map-get($common, minWidth);
  border-radius: map-get($common, borderRadius);
  @include typography(map-get($common, typography), map-get($common, fontWeight));
  @include badge-categories($categories);
}
