@import '../../../style';

$modal: get-component('modal');
$modalBody: map-get($modal, body);

.dls-modal-body {
  padding: get-spacing(map-get($modalBody, verticalSpacing)) get-spacing(map-get($modalBody, horizontalSpacing));
  flex: 1;
  overflow: auto;
}
