@import '../../../style';

$tooltip: get-component('tooltip');
$common: map-get($tooltip, 'common');
$category: map-get($tooltip, 'category');

@mixin arrow-categories($categories) {
  @for $i from 0 to length($categories) {
    $item: nth($categories, $i+1);
    $categoryName: nth($item, 1);
    $categoryProps: nth($item, 2);
    &--#{$categoryName}-top {
      &:before {
        border-top-color: get-color(map-get($categoryProps, arrowColor));
      }
    }
    &--#{$categoryName}-bottom {
      &:before {
        border-bottom-color: get-color(map-get($categoryProps, arrowColor));
        margin-top: -(map-get($common, arrowSize));
      }
    }
  }
}

.dls-tooltip-wrapper {
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 9999;

  &--top {
    bottom: 100%;
  }

  &--bottom {
    top: 100%;
    flex-direction: column-reverse;
  }

  &--left {
    left: 0;
  }

  &--center {
    left: 50%;
    transform: translateX(-50%);
  }

  &--right {
    right: 0;
  }

  &__arrow {
    flex-shrink: 0;
    position: relative;
    height: map-get($common, arrowSize);

    &:before {
      position: absolute;
      content: '';
      height: 0;
      width: 0;
      border-width: map-get($common, arrowSize);
      border-style: solid;
      border-color: transparent;
    }

    &--left {
      &:before {
        left: map-get($common, arrowSize) / 2;
      }
    }

    &--center {
      &:before {
        left: 50%;
        transform: translateX(-50%);
      }
    }

    &--right {
      &:before {
        right: map-get($common, arrowSize) / 2;
      }
    }
    @include arrow-categories($category);
  }
}
