@import '../../../style';

$table: get-component('table');
$common: map-get($table, 'common');
$header: map-get($table, 'header');
$headerCell: map-get($table, 'headerCell');

.dls-header-cell {
  padding: get-spacing(map-get($headerCell, verticalSpacing)) get-spacing(map-get($headerCell, horizontalSpacing));
  text-align: map-get($headerCell, textAlign);
  text-transform: map-get($headerCell, textTransform);
  border-bottom: map-get($common, horizontalBorderWidth) solid get-color(map-get($common, horizontalBorderColor));
  border-right: map-get($common, verticalBorderWidth) solid get-color(map-get($common, verticalBorderColor));
  @include typography(map-get($header, typography), map-get($header, fontWeight));
}
