@import '../../style';

$dropDown: get-component('dropDown');

$common: map-get($dropDown, common);
$label: map-get($dropDown, label);
$default: map-get($dropDown, default);
$hover: map-get($dropDown, hover);
$focus: map-get($dropDown, focus);
$valid: map-get($dropDown, valid);
$invalid: map-get($dropDown, invalid);

.dls-drop-down {
  background-color: get-color(map-get($common, backgroundColor));

  &__label {
    display: block;
    @include typography(map-get($label, typography), map-get($label, fontWeight));
    color: get-color(map-get($label, textColor));
    margin-bottom: get-spacing(map-get($label, bottomSpacing));
    &--required::after {
      content: '*';
      color: get-color(map-get($label, requiredStarColor));
    }
  }

  &__wrapper {
    position: relative;
  }

  &__custom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background: none;
    border: map-get($default, borderWidth) solid get-color(map-get($default, borderColor));
    height: map-get($common, "height");
    border-radius: map-get($common, borderRadius);
    text-align: left;
    padding: get-spacing(map-get($common, verticalSpacing)) get-spacing(map-get($common, horizontalSpacing));
    outline: none;
  }

  &__select {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;

    &:not(:disabled) {
      cursor: pointer;
    }
  }

  &__select:focus + &__custom {
    border: map-get($focus, borderWidth) solid get-color(map-get($focus, borderColor));
  }

  &__select--valid + &__custom, &__select--valid:focus + &__custom {
    border: map-get($valid, borderWidth) solid get-color(map-get($valid, borderColor));
  }

  &__select--invalid + &__custom, &__select--invalid:focus + &__custom {
    border: map-get($invalid, borderWidth) solid get-color(map-get($invalid, borderColor));
  }

  &__select:disabled + &__custom {
    pointer-events: none;
    opacity: map-get($common, disabledOpacity);
  }

  &__select:not(:disabled):hover + &__custom {
    border: map-get($hover, borderWidth) solid get-color(map-get($hover, borderColor));
    box-shadow: 0 0 10px 0 get-color(map-get($common, shadowColorOnHover));
  }
}
