@import '../../../style';

$stepper: get-component('stepper');

$divider: map-get($stepper, 'divider');
$completedDivider: map-get($stepper, 'completedDivider');

$step: map-get($stepper, 'step');
$stepLabel: map-get($stepper, 'stepLabel');

$activeStep: map-get($stepper, 'activeStep');
$activeStepLabel: map-get($stepper, 'activeStepLabel');

$completedStep: map-get($stepper, 'completedStep');
$completedStepLabel: map-get($stepper, 'completedStepLabel');

.dls-stepper-step {
  flex: 1;
  position: relative;
  text-align: center;

  &:not(:last-child):before {
    position: absolute;
    content: "";
    height: 0;
    width: 100%;
    top: map-get($step, height) / 2;
    left: 50%;
    border-top-color: get-color(map-get($divider, borderColor));
    border-top-style: solid;
    border-top-width: map-get($divider, borderWidth);
    z-index: 1;
  }

  &--completed {
    &:not(:last-child):before {
      border-top-color: get-color(map-get($completedDivider, borderColor));
      border-top-width: map-get($completedDivider, borderWidth);
    }
  }

  &__number {
    border: map-get($step, borderWidth) solid get-color(map-get($step, borderColor));
    height: map-get($step, height);
    width: map-get($step, width);
    border-radius: 50%;
    background: get-color(map-get($step, backgroundColor));
    transition: all .4s ease;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 2;
    @include typography(map-get($step, typography), map-get($step, fontWeight));
    color: get-color(map-get($step, textColor));

    &--active {
      border: map-get($activeStep, borderWidth) solid get-color(map-get($activeStep, borderColor));
      height: map-get($activeStep, height);
      width: map-get($activeStep, width);
      background: get-color(map-get($activeStep, backgroundColor));
      @include typography(map-get($activeStep, typography), map-get($activeStep, fontWeight));
      color: get-color(map-get($activeStep, textColor));
    }

    &--completed {
      border: map-get($completedStep, borderWidth) solid get-color(map-get($completedStep, borderColor));
      height: map-get($completedStep, height);
      width: map-get($completedStep, width);
      background: get-color(map-get($completedStep, backgroundColor));
      @include typography(map-get($completedStep, typography), map-get($completedStep, fontWeight));
      color: get-color(map-get($completedStep, textColor));
    }
  }

  &__label {
    display: block;
    @include typography(map-get($stepLabel, typography), map-get($stepLabel, fontWeight));
    color: get-color(map-get($stepLabel, textColor));
    &--active {
      @include typography(map-get($activeStepLabel, typography), map-get($activeStepLabel, fontWeight));
      color: get-color(map-get($activeStepLabel, textColor));
    }
    &--completed {
      @include typography(map-get($completedStepLabel, typography), map-get($completedStepLabel, fontWeight));
      color: get-color(map-get($completedStepLabel, textColor));
    }
  }
}
