@import '../../style';

$icon: get-component('icon');
$size: map-get($icon, 'size');
$color: map-get($icon, 'color');

@mixin icon-sizes($sizes) {
  @for $i from 0 to length($sizes) {
    $item: nth($sizes, $i+1);
    $sizeName: nth($item, 1);
    $sizeProps: nth($item, 2);

    &--#{$sizeName} {
      height: map-get($sizeProps, height);
      width: map-get($sizeProps, width);
    }
  }
}

@mixin icon-colors($colors) {
  @for $i from 0 to length($colors) {
    $item: nth($colors, $i+1);
    $colorName: nth($item, 1);
    $colorValue: nth($item, 2);
    &--#{$colorName} {
      path {
        fill: get-color($colorValue);
      }
    }
  }
}

.dls-icon {
  display: inline-block;

  @include icon-sizes($size);
  @include icon-colors($color);

  &--custom-size {
    width: inherit;
    height: inherit;
  }

  &--custom-color {
    path {
      fill: inherit;
    }
  }
}
